body {
        /* display: flex;
        justify-content: center; /* Center horizontally */
        height: 100vh;
        overflow: hidden;
        /* display: flex;
        flex-direction: column; */
        /* justify-content: center;
        align-items: center; Center vertically */

        padding: 50px;

        background-color: salmon;
        font-family: "Fredoka", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        color: white;
}
