html {
        height: 100%;
}

body {
        /* display: flex;
        justify-content: center; /* Center horizontally */
        height: 100vh;
        overflow: hidden;
        /* display: flex;
        flex-direction: column; */
        /* justify-content: center;
        align-items: center; Center vertically */

        background-color: salmon;
        font-family: "Fredoka", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
}

.text {
        margin: 20px;
        padding: 20px;

        font-family: "Fredoka", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;

        color: white;
}

h1 {
       font-size: 50px;
       /* position: absolute; */
       /* top: 0px; */
       width: 100%;
       text-align: center;
}

h2 {
        font-size: 30px;  
}

.textToSpeech {
        margin: 20px;
        padding: 20px;  
        color: white;
}

#container {
        text-align: center;
}

/* #video {
        width: 100%;
        /* max-width: 600px; */
} */
#capture-btn {
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
}

/* #canvas {
        display: none;
} */

label,
textarea {
        font-size: 0.8rem;
        letter-spacing: 1px;
}

textarea {
        padding: 10px;
        max-width: 100%;
        line-height: 1.5;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 1px #999;
}

label {
        display: block;
        margin-bottom: 10px;
}

#label-container {
        font-size: 30px;
        font-family: "Fredoka", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        color: white;
        width: 200px;
}
    
#webcam-container {
        /* align: center; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        /* width: 512px;
        height: 512px; */
        padding: 10px;
}

#webcam-canvas {
        
        width: 550px;
        height: 550px;
}

#textOutput {
        height: 380px; /* adjust as needed */
        width:100px;
        margin-top: 57px;
        overflow-y: auto;
    }

#textOutput::-webkit-scrollbar {
        display: none;}

#flex-container {

        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 100px;
        align-items: center;
        flex: 1;
    }
    
    #video-and-prediction, #log-container {
        width: 50%; /* adjust as needed */
    }
    
    #log-container {
        margin-left: 20px;
    }
    
    /* #log {
        overflow-y: scroll;
        height: 512px;
    } */